.side-panel {
  height: calc(100vh - 3.6rem);
  width: 12rem;
  position: fixed;
  top: 3.6rem;
  left: 0;
  background-color: #eee;
  overflow: hidden;
}

.list-cats {
  list-style-type: none;
  border-bottom: 1px solid white;
  padding: 0;
  font-size: 0.8rem;
  height: calc(81vh - 3.6rem);
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.list-cats::-webkit-scrollbar { width: 0; }

.elem-cat {
  height: 3.21rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 0.6rem  center;
  background-size: 1.4rem;
  cursor: pointer;
}

.elem-cat:hover{
  background-color: #777;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cat-name{
  display: inline-block;
  text-overflow: ellipsis;
}

.cat-subscribers {
  padding-left: 0.6rem;
}

.dashboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  height: calc(19vh - 1.8rem);
  background-color: #ccc;
  width: 10.2rem;
}

.information {
  padding: 0.8rem;
  font-size: 1rem;
  font-stretch:condensed;
  letter-spacing:0.1rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;

  &::selection{
    background-color: #f5af44;
    color: white;
  }
}

.social-networks {
  display: flex;
  flex-direction: row;
  justify-content:space-around;

  i:hover{
    color: rgb(29, 44, 124);
  }
}

@media (max-width: 1200px){
  .side-panel {
    width: 3.5rem;
  }

  .list-cats{
    height: calc(100vh - 3.6rem);
    border:none
  }

  .elem-cat {
    justify-content: center;
  }

  .cat-name,
  .cat-subscribers {
    display: none;
  }

  .avatar{
    margin-right: 0;
  }

  .dashboard-wrapper {
    display: none;
  }
}
