.categories-wrapper{
  margin-left: -2.4rem;
  transform: rotate(-90deg);
  transform-origin: right top;
  height: calc(100vw - 13.4rem);
  width: 3.15rem;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.categories-wrapper::-webkit-scrollbar { width: 0; }

.categories {
  width: 3.15rem;
  transform: rotate(90deg);
  list-style-type: none;
  font-size: 0.8rem;
  margin: 0;
  margin-right: 1rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category {
  display: flex;
  border: 1px solid #777;
  border-radius: 0.8rem;
  padding: 0.2rem 0.65rem;
  margin:0 0.48rem;
  background-color: #e1e1e1;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: #999;
  }

  &:first-of-type{
    background-color: #f5af44;
    color: white;
    border: none;
    margin: 0 0.5rem 0 0.9rem;
    padding: 0.2rem 1rem;

    &:hover {
      background-color: #bb7b1b;
    }
  }
}

@media (max-width: 1200px){
  .categories-wrapper{
    height: calc(100vw - 4.9rem);
  }
}
