.avatar {
  display: inline-block;
  width:1.6rem;
  height: 1.6rem;
  overflow: hidden;
  background-color: white;
  border-width: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center  center;
  background-size: 1.4rem;
  margin-right: 0.8rem;
}

.chuchu {
  background-image: url(../images/ChuChu.png);
}

.coco {
  background-image: url(../images/CoCo.png);
}

.lala {
  background-image: url(../images/LaLa.png);
}

.momo {
  background-image: url(../images/MoMo.png);
}

.tt {
  background-image: url(../images/TT.svg);
}

.nana {
  background-image: url(../images/NaNa.svg);
}

.toto {
  background-image: url(../images/ToTo.svg);
}

.dodo {
  background-image: url(../images/DoDo.png);
}
