.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-style: italic;
  cursor: pointer;

  .fa-youtube {
    padding-left: 0.4rem;
  }
}
