.gallery{
  width: calc(100vw - 12rem);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.video {
  margin: 0;
  position: relative;
}

.video-frame {
  position: relative;
}

.vide-preview {
  width: 100%;
  height: auto;
  margin: 0;
}

.sign {
  color: white;
  font-size: 1rem;
  opacity: 0;
  position: absolute;
  top: calc(50%-0.5rem);
  left: calc(50%-0.5rem);
}

.video-frame:hover .vide-preview {
  filter: brightness(0.4);
}

.video-frame:hover .sign {
  opacity: 1;
}

.sign:hover {
  opacity: 1;
  cursor: pointer;
}

.broadcast {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  padding: 0 0.3rem;
  font-size: 0.5rem;
  color: #fff;
  background-color: red;
  border-radius: 0.2rem;
  cursor: pointer;
}

.video-data {
  position: absolute;
  bottom: 0.9rem;
  right: 0.2rem;
  padding: 0 0.3rem;
  font-size: 0.6rem;
  color: #fff;
  background-color: black;
  border-radius: 0.2rem;
  cursor: pointer;
}

.figcaption {
  display: grid;
  grid-template-rows: [start-row] 1fr [middle] 1fr [finish-row];
  grid-template-columns: [start-column] 2.4rem [icon] 1fr [option] 0.8rem [finish-column];
}

.video-avatar {
  grid-column-start: start-column;
  grid-column-end: icon;
  grid-row-start: start-row;
  grid-row-end: finish-row;
  cursor: pointer;
}

.video-name {
  grid-column-start: icon;
  grid-column-end:  option;
  grid-row-start: start-row;
  grid-row-end: middle;

  font-size: 0.8rem;
  cursor: pointer;

  &:hover {
    color: rgb(35, 35, 107);
  }
}

.streamer-name {
  grid-column-start: icon;
  grid-column-end:  option;
  grid-row-start: middle;
  grid-row-end: finish-row;
  cursor: pointer;
  font-size: 0.5rem;

  &:hover {
    color: rgb(35, 35, 107);
  }
}

.video-option {
  grid-column-start: option;
  grid-column-end: finish-column;
  grid-row-start: start-row;
  grid-row-end: finish-row;
  cursor: pointer;
  font-size: 0.5rem;

  &:hover {
    color: rgb(35, 35, 107);
  }
}

.vide-player {
  width: calc(0.25 * (100vw - 17rem));
  height: auto;
  position: relative;

  &:hover {
    background-color:rgba(0,0,0,.3);
  }
}

@media (max-width: 1400px){
  .gallery {
    width: calc(100vw - 12rem);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px){
  .gallery {
    width: calc(100vw - 3.5rem);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px){
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px){
  .gallery {
    grid-template-columns: 1fr;
  }
}
