.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  z-index: 10;
  left: 0;
  width:100%;
  height: 3.6rem;
  margin: auto;
  padding: 0 0.8rem;
  background-color: white;
  border-bottom: #c1c1c1 solid 3px;
}

.logo {
  display: flex;
  align-items: center;
  color: #f5af44;
  font-size: 2.1rem;
  font-stretch:condensed;
  letter-spacing:0.1rem;
  font-weight: 600;
  cursor: pointer;

  .fa-cat {
    font-size: 1.7rem;
  }
}

.search {
  width: 33vw;
  display: flex;
  flex-direction: row;
  align-items:center;
}

.search-form {
  flex-grow: 1;
  display: flex;
  height: 1.8rem;
  flex-direction: row;
  align-items:stretch;
  border-radius: 10px;
  border-color: #000;
}

.search-request {
  flex-grow: 1;
  outline: none;
  border-color: #aaa;
  border-width: 1px;
  border-right: 0;
  border-bottom-left-radius: 0.2em;
  border-top-left-radius: 0.2em;

  &:focus {
    border-color: blue;
  }
}

.reset-query {
  border: 1px solid #aaa;
  border-left: 0;
  background-color: #fff;
  cursor: pointer;
  span {
    display: none;
  }
}

.search-request:focus + .reset-query {
  border-color: blue;
  span {
    display: inline;

    &:hover {
      color: #777;
    }
  }
}

.search-query {
  border: 1px solid #aaa;
  border-left: 0;
  border-radius: 0.2em;
  border-color: #aaa;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;

  &:hover {
    background-color: #777;
  }
}

.search-audio{
  background-color: #fff;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
  .fa-microphone {
    color: #c1c1c1;
  }

  .fa-microphone:hover {
    color: #777;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  align-items:center;
}

.message {
  font-size: 1.2rem;
  color: #c1c1c1;
  cursor: pointer;
  margin-right: 1.1rem;

  .fa-bell:hover{
    color: #777;
  }
}

.menu {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.menu-switch {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  $diameter: 2.4rem;
  width:  $diameter;
  height: $diameter;
  border-radius: 50%;
  background-color: #f5af44;
  display: flex;
  justify-content: center;
  align-items: center;

  i{
    font-size: 0.8rem;
  }

  &:hover{
    background-color: #bb7b1b;
  }
}

.username {
  color: #9ba6b2;
  line-height: 1.25;
  border-bottom: 1px solid #9ba6b2;
}

.menu-list {
  display: none;
  position: absolute;
  top: 3.5rem;
  right: 0;
  width: 9.6em;
  font-size: 0.6em;
  list-style-type: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 0;
  line-height: 2rem;
  border: 1px solid #eee;
  border-radius: 0.8rem;
  overflow: hidden;
}

.menu:hover .menu-list {
  display: block;
}


.menu-item {
  padding: 0 1em;
  word-spacing: 1em;
}

.menu-item:hover{
  background-color: #c1c1c1;
}

.menu-item-profile {
  border-top: 1px solid #c1c1c1;
}

.menu-item-settings {
  border: 1px solid #c1c1c1;
  border-left: 0;
  border-right: 0;
}

.menu-item-log-out {
  color: #9d3535;

  .legend-log-out {
    word-spacing: 0.3em
  }
}
