.main {
  position: fixed;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  height: calc(100vh - 3.6rem);
  width: calc(100vw - 12rem);
  display: grid;
  grid-template-rows: 3.21rem 30rem 1fr 4rem;
  grid-gap: 0;
}

.main::-webkit-scrollbar { width: 0; }

@media (max-width: 1200px){
  .main{
    grid-template-rows: 3.21rem 29rem 1fr 4rem;
    left: 3.5rem;
    width: calc(100vw - 3.5rem);
  }
}

@media (max-width: 1000px){
  .main {
    grid-template-rows: 3.21rem 27rem 1fr 4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px){
  .main {
    grid-template-rows: 3.21rem 23rem 1fr 4rem;
  }

  .gallery {
    grid-template-columns: 1fr;
  }
}
